/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  display: flex;
}

.App .filter {
  width: 350px;
  margin: 20px;
  height: 92.5vh;
  border: solid 1px black;
}

.App .filter .filter-headers {
  display: flex;
  justify-content: space-between;
}

.filter-select-box {
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.report-button {
  margin-left: 200px !important;
}

.filter-headers h1 {
  padding-left: 20px;
}

.filter-headers  .clear-button  {
  padding-right: 20px;
}